@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#side {
    flex: 3;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

#side p {
    margin-top: auto;
}

#side p, a {
    color: white;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 0.75rem;
    text-align: center;
}

#logo {
    background-color: rgba(0, 0, 0, 0.5);
    height: 125px;
    margin-top: 175px;
    font-family: 'Norse', Tahoma, Verdana, sans-serif;
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
}

#logo img {
    height: 6rem;
    width: auto;
}

#main {
    flex: 5;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

#top, #bottom, form {
    padding-left: 40px;
}

#top {
    height: 300px;
    display: flex;
    flex-direction: column;
}

#top pre {
    max-inline-size: 55ch;
    white-space: pre-wrap;
    margin-top: auto;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}

form {
    height: calc(100vh - 600px);
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 5px 5px hsl(0deg 0% 0% / 0.2);
}

h3 {
    margin-bottom: 15px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row p {
    width: 350px;
}

label {
    display: inline-block;
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(88, 88, 88);
}

input {
    width: 80%;
    border: 1px solid #E5E7EB;
    height: 2rem;
    border-radius: 3px;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 1px 1px 5px hsl(0deg 0% 0% / 0.5);
}

input:invalid {
    outline: 1px solid red;
}

#bottom {
    height: 300px;
    padding: 30px 0px 0px 40px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #596d49;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 2px 4px 6px hsl(93deg 10% 20% / 0.5);
}

#bottom span {
    color: hsl(93, 20%, 36%);
    font-weight: bold;
}

#bottom span:hover {
    text-decoration: underline;
}